@import "fonts";
@import "vars";
@import "mixins";
@import "global";
@import "libs";

.header {
  margin-bottom: 35px;
  &__top {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    padding: 10px 0;
  }
  &__top-text {
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    opacity: 0.8;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 28px;
    position: relative;

    &::before {
      content: "";
      background-image: url("../images/icons/mail.svg");
      width: 18px;
      height: 18px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__top-phone {
    margin-left: 60px;
    &::before {
      background-image: url("../images/icons/phone.svg");
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
  }

  &__contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__contact-link {
  }
  &__contact-button {
    margin-left: 20px;
    padding: 10px 25px;
  }

  &__menu {
    max-width: 475px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 20px;
  }
  &__menu-link {
    padding-bottom: 3px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #313137;

    &.active {
      color: $green;
      border-bottom: 1.5px solid $green;
      font-weight: 600;
      border-radius: 1px;
    }
  }
}

.top {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 194px;
  &__box {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 58px;
    // align-items: center;
  }
  &__info {
    max-width: 620px;
    margin-top: 50px;
  }
  &__info-title {
    font-weight: 800;
    font-size: 52px;
    line-height: 66px;
    color: #313137;
    margin-bottom: 18px;
  }
  &__info-text {
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    color: #565656;
    margin-bottom: 50px;
  }
  &__info-link {
    position: relative;
    .top-arrow {
      position: absolute;
      right: -100px;
      top: -34px;
    }
  }

  &__image {
    img {
      border-radius: 18px;
    }
  }

  &__banner {
    background: #ffffff;
    box-shadow: 0px 15px 80px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    display: flex;
    padding: 0 10px;
    padding-bottom: 27px;
    padding-top: 47px;
    justify-content: space-between;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -70px;
  }
  &__banner-col {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 37px;
    max-width: 100%;
    width: 100%;
  }
  &__banner-col + .top__banner-col {
    border-left: 2px solid #f3f3f3;
  }
  &__banner-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #313137;
    margin-bottom: 4px;
  }
  &__banner-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #313137;
  }
}

.face {
  margin-bottom: 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 711px;
    width: 100%;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #313137;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
  &__name-link {
    margin-left: 14px;
  }
  &__subname {
    margin-bottom: 40px;
  }
}

.product {
  margin-bottom: 40px;
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
  &__text {
    text-align: center;
    margin-bottom: 40px;
  }
  &__item {
    background: #ffffff;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 10px;
    max-width: 295px;
    padding: 20px;
    margin-bottom: 20px;
    &:hover {
      .product__item-title {
        color: $green;
      }
    }
  }
  &__item-title {
    transition: all .3s;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    color: #313137;
    margin-bottom: 10px;
  }
  &__item-text {
    font-size: 16px;
    line-height: 22px;
    color: #313137;
    font-weight: 400;
  }
  &__item-benefit {
    margin-bottom: 8px;
  }
  &__item-text {
    margin-bottom: 16px;
  }
  &__item-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #41BF06;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
  }
}

.consultation {
  margin-bottom: 60px;
  background-color: #f3f3f3;
  overflow: hidden;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 18px;
    span {
      color: $green;
    }
  }
  &__info {
    margin-top: 60px;
  }
  &__list {
    margin-bottom: 40px;
  }
  &__list-item {
    padding-left: 36px;
    position: relative;
    margin-bottom: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 22px;
      height: 22px;
      background-image: url('../images/icons/check.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__button {
    padding: 18px 30px;
    text-transform: uppercase;
  }
}

@import "media";
